<svg width="600" height="300" version="1.1" xmlns-"http://www.w3.org/2000/svg">
    {% for bar in status_bars %}
    <text x="{{bar.text_x}}", y="{{bar.text_y}}", font-size="20" stroke="white" fill="white">{{bar.value}}</text>
    <rect x="{{bar.x}}", y="{{bar.y}}", width="{{bar.bar_width}}", height="{{bar.height}}" 
            stroke="{{bar.colour}}" fill="{{bar.colour}}" />
    <text x="{{bar.label_x}}", y="{{bar.label_y}}", font-size="20" stroke="white" fill="white">{{bar.label}}</text>
    {% endfor %}
</svg>
<div style="font-size: small;">
This section was last updated on {% now "j/n/o g:i:s a" %}
<p>
This inner section (on dark grey) is also a Django template, being rendered to a string.
However that string is not returned as a HttpResponse but instead sent to the browser via
the websocket connection. Then some simple javascript in the browser updates this section
whenever it receives an incoming websocket message. This is all triggered by the buttons on
the admin screen.
</div>
