<html>
<head>
<title>Status Board admin page</title>
    <link rel=stylesheet href="/static/styles.css" type="text/css">
<style type="text/css">
body, div, h1 { font-family: "Helvetica"; width: 600px; margin: 8px; padding: 8px; }
</style>
</head>
<body>
<h1>Fictional status board admin page</h1>
<div>
This is a ridiculously naive status board system to illustrate
the progress of a team of developers. It really just exists to 
showcase how you can use Websockets with a Django backend.
Don't try to use this for tracking any real projects, or in 
any sort of production environment.
<p>
Use the 'Status board' button to launch the graphical board, preferably in a new
window.<p>
Use the 'Completion Status' button to launch the control page.
If your developers have been working hard, reward them by clicking the 'Doing Well' button
which will increase the size of the column by one.
But if your developers have been slacking off then click 'Slipping Back' which will 
similarly decrease the size of the column by one.
You need to be logged in to actually update the status, but you can still view the page
and see the numbers being adjusted by other people even if you are not logged in.
</div>
<div>
<a href="/status_board" class="myButton bigButton" >Status board</a>
<a href="/status_complete_list" class="myButton bigButton" >Completion Status</a>
    {% if user.username %}
<a href="/logout" class="myButton bigButton" >Logout</a>
    {% else %}
<a href="/accounts/login?next={% url 'home' %}" class="myButton bigButton" >Login</a>
    {% endif %}
</div>
<div>Find this project on BitBucket:<br><a style="color: rgb(59, 115, 175);" href="https://bitbucket.org/kevingolding2001/django-websockets">
https://bitbucket.org/kevingolding2001/django-websockets</a>
</div>

</body>
</html>
