<!doctype html>
<html>
<head>
<title>Fictional Status Board</title>
    <link rel=stylesheet href="{{ STATIC_URL }}styles.css" type="text/css">
    <script src="http://cdn.sockjs.org/sockjs-0.3.min.js"> </script>
<script>
"use strict";
var ws;

function process_message(msg) {
    var numbers = msg.data;
    for (var n in numbers){
        if (numbers.hasOwnProperty(n)){
            var target = document.getElementById(n);
            if (target != null) {
                target.innerHTML = numbers[n];
            }
        }
    }
}

function do_init() {
    ws.send("subscribe numbers");
}

function doing_well(task) {
    ws.send("doing_well " + task);
}

function slipping_behind(task) {
    ws.send("slipping_behind " + task);
}
window.onload = function() {
    var ws_addr = "http://" + document.location.hostname + ":8080/websocket";
    ws = new SockJS(ws_addr);
    ws.onmessage = process_message;
    ws.onopen = do_init
}
</script>
</head>
<body class="update">
<div>
<h1>This is the completion status update page</h1>

{% if user.username %}
<span>Logged in as: {{ user.username }}</span><br>
{% else %}
<span>You are not logged in. This form will NOT work!</span><br>
{% endif %}
<table>
    {% for activity in object_list %}
        <tr>
        <td>{{ activity.title }}</td>
        <td><div id='{{ activity.title }}' style="width: 20px; padding: 1px;"></div></td>
        <td><a href="javascript:doing_well('{{ activity.title }}')" class="myButton Good" >Doing Well</a></td>
        <td><a href="javascript:slipping_behind('{{ activity.title }}')" class="myButton Bad" >Slipping Back</a></td>
        </tr>
    {% endfor %}
</table>
<p/>
<a href="/" class="myButton Indifferent" >Home</a>
<a href="/reset_data" class="myButton Indifferent" >Reset values</a>
<p>This page is an instance of the Django ListView class based generic view.</p>
<p>
Each of the red and green buttons call a JavaScript function which sends a websocket message to the server
to adjust the percentage complete of the associated task. These only work if you are currently logged in.
The page also registers itself as a listener for the 'number' message. This means that whenever the numbers
are changed (even by someone else) it will be passed a dictionary object encoded as JSON. This dictionary is
keyed on the task names and the value of each represents the percentage complete. Then some javascript
iterates over this dictionary and updates the innerHTML of the table data nodes containing the numbers.
</p>
</div>
</body>
