<!doctype html>
<html>
<head>
<title>Fictional Status Board</title>
<link rel=stylesheet href="{{ STATIC_URL }}styles.css" type="text/css">
<script src="http://cdn.sockjs.org/sockjs-0.3.min.js"> </script>
<script>
"use strict";
var ws;

function process_message(msg) {
    var target = document.getElementById('svg_section');
    target.innerHTML = msg.data;
}

function do_init() {
    ws.send("subscribe svg");
}

window.onload = function() { 
    var ws_addr = "http://" + document.location.hostname + ":8080/websocket";
    ws = new SockJS(ws_addr);
    ws.onmessage = process_message;
    ws.onopen = do_init
}
</script>
</head>
<body class="board">
<div>
<h1>This is the fictional status board</h1>
This page was last loaded on {% now "j/n/o g:i:s a" %}
<p>
This outer section (on black) is a Django template being rendered by a regular Django view using
the WSGI Tornado module. It is typically only loaded once.
</div>
<div id="svg_section"> </div>
<div><a href="/" class="myButton Indifferent" >Home</a></div>
<div>Find this project on BitBucket:<br><a style="color: rgb(59, 115, 175);" href="https://bitbucket.org/kevingolding2001/django-websockets">
https://bitbucket.org/kevingolding2001/django-websockets</a>
</div>
</body>
