body.board { font-family: "Helvetica";
    color: white;
    background-color: black;
    width: 600px;
    margin: 8px;
    padding: 8px;
}
#svg_section {
    background-color: #404040;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
}
body.update, div.update, h1.update {
    font-family: "Helvetica";
    width: 650px;
    margin: 8px;
    padding: 8px;
}

.myButton {
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:17px;
    font-weight:bold;
    padding:5px 11px;
    text-decoration:none;
    margin-right: 10px;
    background-color:#4f759a;
}
.myButton:hover {
    background-color:#4f75aa;
}
.bigButton {
    padding: 16px;
}
.Bad {
    background-color:#ad828d;
    border:1px solid #ab525b;
}
.Good {
    background-color:#82ad8d;
    border:1px solid #52ab5b;
}
.Indifferent {
    background-color:#4f759a;
}
.Good:hover {
    background-color:#5cbf2a;
}
.Bad:hover {
    background-color:#bf5c2a;
}
.Indifferent:hover {
    background-color:#4f75aa;
}
.myButton:active {
    position:relative;
    top:1px;
}
div { margin: 10px; }
body {
    background-color: #eeeeee;
}
